@font-face {
  font-family: "SFSlapstickComicRegular";
  src: url(fonts/SFSlapstickComic.ttf);
}
@font-face {
  font-family: "BorisBlackBloxx";
  src:url(fonts/BorisBlackBloxx.ttf);
}

@font-face {
    font-family: 'Helvetica33ExtendedThinThin';
    src: url('fonts/helveticaextthn.eot');
    src: url('fonts/helveticaextthn.eot') format('embedded-opentype'),
         url('fonts/helveticaextthn.woff') format('woff'),
         url('fonts/helveticaextthn.ttf') format('truetype'),
         url('fonts/helveticaextthn.svg#Helvetica33ExtendedThinThin') format('svg');
}
@font-face {
    font-family: 'Helvetica63ExtendedMediumMedium';
    src: url('fonts/helveticaextmed.eot');
    src: url('fonts/helveticaextmed.eot') format('embedded-opentype'),
         url('fonts/helveticaextmed.woff') format('woff'),
         url('fonts/helveticaextmed.ttf') format('truetype'),
         url('fonts/helveticaextmed.svg#Helvetica63ExtendedMediumMedium') format('svg');
}

body{
	margin: 0;
	padding: 0;
	max-width: 100%;
	width: 100%;
}

a{
	text-decoration: none;
}
#header{
	height:150px;
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;
	background:#fff;
}
h1.logo{
	margin: 15px 0 0 0;
	background-image: url('../images/logo.png');
	text-indent: -1000px;
	height: 133px;
	width: 337px;
	zoom:0.8;
	position: absolute;
	z-index: 10;
	float: left;
}
#header .contact{
	float:right;
	font-size: 20px;
	font-family: 'Helvetica33ExtendedThinThin';
	text-align: right;
}
#header .contact span{
	top: -7px;
	position: relative;
}
#header .contact .fbLike{
    margin: 5px 0;
}
#header .contact .last{
	margin-bottom: 7px;
}
#header .nav{
	float: right;
	clear: both;
	position: absolute;
	bottom: 5px;
	right: 20px;
}
#header .nav li{
	float: left;
	margin: 0 10px;
}
#header .nav li a{
	color: #000;
	font-family: 'Helvetica33ExtendedThinThin';
	font-size: 17px;
	display: block;
}
#header .nav li a:hover{
	color: #71C933;
	text-decoration: none;	
}
#header .nav li.icon a{
	opacity: 0.8;
}
#header .nav li.icon a:hover{
	opacity: 1;
	top: -4px;
}
#header .nav li.icon.last{
	margin:0;
}
#header .nav li.icon{
	margin:0 7px 0 0;
}


#home .slider{
	background-color: #d9e021;
/*	height: 60%;
	margin-bottom: 4%;*/
height: 315px;
}
.slider:after{
	height: 14px;
	width: 100%;
	position: absolute;
	display: block;
	background-image: url('../images/bottom_slider.png');
	content: '';
/*	top:60%;*/
top: 315px;
}
/*
.slider:before*/
#footer:before{
	height: 14px;
	width: 100%;
	display: block;
	background-image: url('../images/top_slider.png');
	content: '';
}

#home .slider img{
	margin-top: -45px;
	float: right;
	max-width:100%
}

#carousel-home ul{
	text-align: center;
	overflow: hidden;
}
#carousel-home ul li{height: 400px;}
#carousel-home .ch-user-no-select{
	color: #fff;
	margin-top: -45px;
}
#home .slider h1{
	font-family: 'BorisBlackBloxx';
	font-size: 1.3em;
	text-align: left;
	width: 420px;
	color: #fff;
	padding-top: 50px;
	margin: 0;
	margin-left: 30px;
	letter-spacing: 1px;
	line-height: 40px;
	float:left;
}
#home .slider h1 span.fzBig{
	font-size: 1.7em;
}

.wfix{
	width: 920px;
	margin: auto;
	padding: 0 20px;
	position: relative;
	height: 100%;
}

.ico{
	background-image: url('../images/sprite_ico.png');
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	display: block;
	top: -2px;
	position: relative;
}
.ico.fb{
	background-position: center top;
}

.ico.tw{
	background-position: center -18px;	
}
.ico.phone{
	background-position: center -34px;
	height: 35px;
	display: inline-block;
	width: 30px;
}
#home{
	position: relative;
	top: 150px;
	padding-bottom: 30px;
}
#home .desta h2{
	font-family: 'Helvetica63ExtendedMediumMedium';
	font-size: 1.1em;
	width: 150px;
	color: #D9E021;	
}
#home .desta {
/*	height:125px;*/
padding-top: 20px;
	text-align:center;
}
#home .desta li{
	width: 30%;
	position: relative;
	display:inline-block;
	text-align:left;
	
}
#home .desta li p,
#product p,
#home .desta .troq p {
	color: #999;
	font-size: 14px;
}
#home .desta li.second{
	margin:0 4%;
}
#home .desta li.second h2,
#home .desta li.third h2{
	margin-top: 30px;
}
#home .desta li.first img{
	top: -25px;
}
#home .desta li.second img{
	top: -30px;
}
#home .desta li.third img{
	right: 65px;
	top: -35px;
}
#home .desta .troq{
	padding-bottom: 25px;
}
#home .desta .troq h2{color:#71C933}
#home .desta .troq h2,
#home .desta .troq p{width: auto; text-align: left;}

#home .desta img{
	position: absolute;
	right: 30px;
}
#products:after{
	height: 14px;
	width: 100%;
	position: absolute;
	display: block;
	background-image: url('../images/bottom_products.png');
	content: '';
	top:98%;
}
/*
#products:before{
	height: 14px;
	width: 100%;
	position: absolute;
	display: block;
	background-image: url('../images/top_products.png');
	content: '';
}*/
#products{
	background: #eee;
}
#products{
	position:relative;
	top:150px;	
}
#products .wfix{
	overflow: hidden;
}
#products ul{
	padding: 45px 0;
	margin: 0 80px;
}
#products ul.left{
	float: left;
}
#products ul.right{
	float: right;
}
#products li{
	width: 300px;
}
#products li.odd:hover span{
	color: #B6D987;

}
/*#products li.odd:hover{
	background-image: none;
}*/

#products li.even:hover span{
	color: #D9E021;
}
#products li.even:hover{
	background-image: none;
}

#products li.even a span{
	color:#B6D987
}
#products li.odd a span{
	color: #D9E021;

}

/*#products li.odd{
	background-image: url('../images/bkg_prod1.png');
	background-repeat: no-repeat;
	background-position:right top;
}
#products li.even{
	background-image: url('../images/bkg_prod2.png');
	background-repeat: no-repeat;
	background-position:right top;
}*/
#products li a span.two-lines{
	padding-top:40px;
}
#products li a span{
	border-bottom: 1px dotted #CCC;
	width: 207px;
	font-family: 'Helvetica63ExtendedMediumMedium';
	font-size: 16px;
	display: block;
	padding-top: 60px;
	
}
#products li a img{
	margin-top: -92px;
	padding-left: 236px;
	zoom: 0.85;
}
#products li a:hover{
	text-decoration: none;
}

/* PRODUCT */
#product{
	position:relative;
	top: 150px;
	margin-top: 20px;
	overflow: hidden;
}
#product .col-left{
	width: 66%;
	float: left;
	margin-right: 35px;
}
#product .col-right{
	float: left;
}
#product h2{
	border-bottom: dotted 1px #ccc;
}
#gallery{
	width: 309px;
	float: left;
	margin-right: 35px;
}


#product h2{
	font-family: 'Helvetica63ExtendedMediumMedium';
	font-size: 16px;
}
#product .presets{
	float: left;
	width: 263px;
	margin-top: 20px;
}
#product h4{
	font-size: 15px;
	font-family: 'Helvetica63ExtendedMediumMedium';
}
.variations h4{
	border-bottom: solid 1px #ccc;
}
.sizes tbody tr:hover{
	color: #000;
	cursor: default;
}
.sizes tr{
	color: #999;
}
.sizes td{
	width: 70px;
	font-size: 13px;
	text-align: center;
}

.sizes thead td{	
	font-weight: bold;
}
.colors,.sizes{
	margin-bottom: 20px;
}
.colors ul{
	overflow: hidden;
}
.colors li{
	width: 25px;
	height: 25px;
	float: left;
	margin:0 5px 5px 0;
}
.colors .red{background:red }
.colors .orange{background:orange }
.colors .yellow{background:yellow }
.colors .blue{background:blue }
.colors .green{background:#79C335 }
.colors .greenBenethon{background:#277141 }
.colors .greenMilitar{background:#424900 }
.colors .lila{background:#C7A0CA }
.colors .rosa{background:#F386AE }
.colors .celeste{background:#52B2D3 }
.colors .grey{background:#ccc }
.colors .black{background:black }
.colors .violeta{background:#EE82EE}
.colors .blanco{background:#fff; border: solid 1px #ccc; width: 23px; height: 23px;}

.colors li.bicolor{
	position: relative;
	overflow: hidden;
}
.colors li span.color-two{
	width: 25px;
	position: absolute;
	height: 40px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 0px;
	left: 10px;
}
.presets .more.marginTop{
	margin-top: 20px;
}
.ch-tooltip {
	background-color: #fff;
	border-color: #ccc;
	color: #333;
	-webkit-box-shadow: 2px 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
}

.ch-tooltip.ch-points-ltlb .ch-tooltip-content:before{
	border-bottom-color: #ccc;
}
.presets .more ul{
	overflow: hidden;
	width: 300px;
}
.presets .more li{
	float: left;
	width: 125px;
	font-family:'Helvetica33ExtendedThinThin';
}

#product .nav-prod li{
	height: 100px;
}
/*
#product .nav-prod li.odd img{
	background-image:url('../images/products/bkg_navProd_odd.png');
}
#product .nav-prod li.even img{
	background-image:url('../images/products/bkg_navProd_even.png');
}
*/
#product .nav-prod li.odd img,
#product .nav-prod li.even span{
	float: left;
}
#product .nav-prod li.even img,
#product .nav-prod li.odd span{
	float: left;
}
#product .nav-prod li span{
	font-family: 'Helvetica63ExtendedMediumMedium';
	font-size: 14px;
	width: 156px;
	border-bottom: dotted 1px #ccc;
	margin-top: 25px;
}
#product .nav-prod li span.two-lines{
	margin-top: 17px;
	
}
#product .nav-prod li.odd span{
	color: #71C933;
	margin-left: 5px;
}
#product .nav-prod li.even span{
	color: #D9E021;
}

#product .nav-prod li a:hover img,
#product .nav-prod li a.active img{
	background-image: none;
}
#product .nav-prod li.even a:hover span,
#product .nav-prod li.even a.active span{
	color: #71C933;
}
#product .nav-prod li.odd a:hover span{
	color: #D9E021;
}
.nav-prod img {
	width: 35%;
}

#home .slider img.b{
	width:45%;
	margin-top:35px;
}
#home .slider img.c{
	width:45%;
	margin-top:20px;
}


/* COLCHONETAS */
.variations ul{
	margin-left: 15px;
}
.variations ul.noMargin{
	margin-left: 0;
}
.variations ul{
	color:#999;
}

/* COLCHONETAS */

/* EMPRESA */
/*#empresa:before{
	height: 14px;
	width: 100%;
	position: absolute;
	display: block;
	background-image: url('../images/top_empresa.png');
	content: '';
}*/
#empresa:after{
	height: 14px;
	width: 100%;
	position: absolute;
	display: block;
	background-image: url('../images/bottom_empresa.png');
	content: '';
	top:98%;
}

#empresa {
	position: relative;
	top: 150px;
	font-family: 'Helvetica33ExtendedThinThin';
	background: #29AAE3;
	color: #fff;
	font-size: 16px;
}
#empresa .wfix{
	padding: 20px 0 50px 0;
}
#empresa h2{
	font-size: 25px;
}
#empresa h3{
	font-size: 22px;
	padding-top: 10px;
}

#contacto .wfix{
	overflow: hidden;
}
#contacto .error{
	clear: both;
	color: #f00;
	margin-left: 65px;
}

#contacto .done{
	margin-right: 20px;
}
#contacto .ch-form-row.last{
	text-align: right;
}
#contacto .hightlight{
	border: 2px solid #9F1319;
}
/* EMPRESA */

#carrousell img{
	cursor: pointer;
}
#panel{
	height: 281px;
}
.loader{
	text-align: center;
	vertical-align: middle;
	line-height: 281px;
}

.loadPro .ch-loading-big{
	position: absolute;
	left: 40%;
	top:200px;
}
#contacto{
	position: relative;
	top: 150px;
	margin-top: 20px;
}
#contacto h1{
	font-size: 24px;
	font-family: 'Helvetica33ExtendedThinThin';
	color: #777777;
}
#contacto p.notice{
	font-size: 14px;
	font-family: 'Helvetica33ExtendedThinThin';
	color: #777777;
	padding-bottom: 15px;
}
#contacto textarea{
	width: 420px;
	border: solid 1px #D9E021;
	border-radius: 0;
	-webkit-box-shadow:none;
	box-shadow:none;
	resize:none;
	height: 122px;
}

#contacto .ch-form-row label{
	width: 70px;
	text-align: left;
}
#contacto input{
	width: 280px;
	border: solid 1px #D9E021;
	border-radius: 0;
	-webkit-box-shadow:none;
	box-shadow:none;
	height: 15px;
}
#contacto input:focus,
#contacto textarea:focus{
	padding: 6px;
	border:solid 1px #71C933;
}
#contacto input[type="submit"]{
	border-radius: 0;
	border:  none;
	width: 105px;
	cursor: pointer;
	background: #D9E021;
	color: #fff;
	height: 30px;
	font-size: 17px;
	font-family: 'Helvetica33ExtendedThinThin';
}
#contacto input[type="submit"]:hover{
	background: #71C933;
}
#contacto .infoRow .ico{
	display: inline-block;
	margin-top: 5px;
}
#contacto label,
#contacto .infoRow,
#contacto .done,
.modalMap{
	font-family: 'Helvetica33ExtendedThinThin';
	font-size: 17px;
	color: #777777;
}
#contacto .infoRow .mail a{
	color: #777777;	
}
#contacto .infoRow .mail a:hover{
	color: #71C933;
	text-decoration: none;

}
#contacto .infoRow{
	padding-bottom: 10px;
}
#contacto .infoRow span,
#contacto .infoRow ul li,
.modalMap p{
	font-size: 13px;
}
#contacto .infoRow a.map:hover span.notice{
	background: #fff;
	color: #444444;
}
#contacto .infoRow span.notice{
	font-size: 11px;
	background: #444444;
	color: #fff;
	position: absolute;
	margin-top: -26px;
	padding: 0 5px;
}
#contacto .ch-form{
	float: left;
	padding-right: 40px;
}
#contacto .contactInfo{
	float: left;
	margin-top: 7px;
}
#footer p{
	text-align: center;
	margin-top: 12px;
	color: #fff;
}
#footer{
	background-color: #d9e021;
	height: 60px;
	margin-top: 155px;
}
@media screen and (max-width: 1366px)  and (max-height: 900px) {
	.nav-prod img {
		width: 24%;
	}
	#product .nav-prod li {
		height: 65px;
	}
	#product .nav-prod li span{
		margin-top: 16px;
	}
	#product .nav-prod li span.two-lines {
		margin-top: 3px;
	}

}

	
@media screen and (max-width: 480px) {
				
	#header{
   		position:static;
   		height: auto;
  	}
  	#header .logo, #header .contact, #header .nav, #header .nav li{
  		float: none;
  	}
	#header .nav li{
		margin: 5px 0;
		text-align: center;
	}

	.wfix{
		width: 480px;
		margin:0;
	}
	#home{
		top:0;
	}
	#home .desta li{
		display:block;
		width: 90%;
	}
	#home .desta li.second{
		margin:0;
	}
	.slider{
		display: none;
	}

}
@media screen and (max-width: 320px) {
	.wfix{
		width: 320px;
	}
}

.ch-hidden{
	visibility: hidden;
}